# This file allows you to make local config changes to your vagrant configuration
# Copy it to "Vagrantfile.local" (which is in .gitignore) and config here
# will be included in your Vagrantfile
# You can also use ~/.vagrant.d/Vagrantfile to provide overall config for all
# vagrant instances.

# Changes to cpus, memory, etc. require a vagrant reload of course

# Keeping a yum cache directory can help save bandwidth -- useful on a slow connection.
# To enable: uncomment the next line and set it to a valid path on your host machine.
# $vagrant_yum_cache = "/var/cache/vagrant/yum_cache"

# You can configure many vms here if necessary.
# Adjust memory and CPUs as needed.
# The FQDN shouldn't be changed as doing so will affect Puppet provisioning.
$vms = {
  "default" => { "fqdn" => "vagrant-multi1.cashmusic.org", "ipaddress" => "10.10.10.20", "memory" => "1024", "cpus" => "2" },
  }

# Configure additional hostnames to be added to the host machine's /etc/hosts
# file. Allows access to the VM on e.g. subdomains for multi-user testing.
# Requires the vagrant-hostsupdater plugin.
$host_aliases = ["dev.vagrant-multi1.cashmusic.org"]

# Provide list of source mounts. The type defaults to virtualbox, but you could
# also use nfs (on Mac/Linux) or the rsync type.
# See http://docs.vagrantup.com/v2/synced-folders/index.html
#
# CASH Music devs: update host_mountpoint below to match the path
# to your local clone of the CASH Platform repo.
$dev_mounts = {
  "dev" => {
    "vm_mountpoint" => "/var/www/cash_platform/",
    "host_mountpoint" => "/Users/jeff/cashmusic/platform",
    "type" => "virtualbox",
  },
}
